.about-container{
    display: flex;
    width: 100%;
    background-color:#f9f9f9 ;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.about-container div{
    width: 40%;
}
.signin{
    padding: 0.5rem;
    border-radius: 2px;
    background-color: #1e88e5;
    border: none;
}
.signin a{
    color: white;

}